node_red/flows.json
[
    {
        "id": "b8774ea65c27b37b",
        "type": "tab",
        "label": "Buffet_Monitoring_Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f623e215d23cad3d",
        "type": "websocket-listener",
        "path": "/tray-feed",
        "wholemsg": "false"
    },
    {
        "id": "844f5fba1c10df27",
        "type": "serial-port",
        "name": "COM3",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "314bd60dd938e9ec",
        "type": "websocket-listener",
        "path": "/env-feed",
        "wholemsg": "false"
    },
    {
        "id": "98bdc8419f79621b",
        "type": "http in",
        "z": "b8774ea65c27b37b",
        "name": "Receive Tray Data",
        "url": "/tray-status",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "22d9bb2e06c90732",
                "085fdf269aee5fb9"
            ]
        ]
    },
    {
        "id": "22d9bb2e06c90732",
        "type": "json",
        "z": "b8774ea65c27b37b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "09133db9a5f7252a",
                "c3bc2a6b2ab53f4b"
            ]
        ]
    },
    {
        "id": "f94d67e2328997df",
        "type": "debug",
        "z": "b8774ea65c27b37b",
        "name": "Show Tray Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "c3bc2a6b2ab53f4b",
        "type": "http response",
        "z": "b8774ea65c27b37b",
        "name": "Send OK Response",
        "statusCode": "",
        "headers": {},
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "085fdf269aee5fb9",
        "type": "debug",
        "z": "b8774ea65c27b37b",
        "name": "Raw Incoming",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "09133db9a5f7252a",
        "type": "function",
        "z": "b8774ea65c27b37b",
        "name": "Log Tray Payload",
        "func": "node.warn(\"Tray received: \" + JSON.stringify(msg.payload));\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 180,
        "wires": [
            [
                "f94d67e2328997df",
                "cd353315ee45a915",
                "bd568ed802110924"
            ]
        ]
    },
    {
        "id": "cd353315ee45a915",
        "type": "websocket out",
        "z": "b8774ea65c27b37b",
        "name": "Tray WS Out",
        "server": "f623e215d23cad3d",
        "client": "",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "9e3c233408350eb3",
        "type": "http request",
        "z": "b8774ea65c27b37b",
        "name": "Send to Firebase via Local Server",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/tray-update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1540,
        "y": 200,
        "wires": [
            [
                "9bf0b45bd8c9b817"
            ]
        ]
    },
    {
        "id": "9bf0b45bd8c9b817",
        "type": "debug",
        "z": "b8774ea65c27b37b",
        "name": "Firebase Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 140,
        "wires": []
    },
    {
        "id": "bd568ed802110924",
        "type": "function",
        "z": "b8774ea65c27b37b",
        "name": "Prepare Payload for HTTP",
        "func": "return msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "92f8fac0b97d2b74"
            ]
        ]
    },
    {
        "id": "92f8fac0b97d2b74",
        "type": "json",
        "z": "b8774ea65c27b37b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1330,
        "y": 120,
        "wires": [
            [
                "9e3c233408350eb3"
            ]
        ]
    },
    {
        "id": "329a40498d795cbe",
        "type": "serial in",
        "z": "b8774ea65c27b37b",
        "name": "Read Data From Sensor",
        "serial": "844f5fba1c10df27",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "f6f516d89fba539b"
            ]
        ]
    },
    {
        "id": "f6f516d89fba539b",
        "type": "function",
        "z": "b8774ea65c27b37b",
        "name": "Combine Temp & Humidity",
        "func": "let temp = context.get('temp');\nlet hum = context.get('hum');\n\nlet line = msg.payload.trim();\n\n// Parse temperature\nif (line.startsWith('Temperature')) {\n    let value = line.split('=')[1].replace('C', '').trim();\n    temp = parseFloat(value);\n    context.set('temp', temp);\n}\n\n// Parse humidity\nif (line.startsWith('Humidity')) {\n    let value = line.split('=')[1].replace('%', '').trim();\n    hum = parseFloat(value);\n    context.set('hum', hum);\n}\n\n// Wait until both temp and humidity are available\nif (temp !== undefined && hum !== undefined) {\n    const timestamp = new Date().toISOString();\n\n    const alerts = {\n        high_temp: temp > 30,\n        low_temp: temp < 15,\n        warn_temp: (temp >= 27 && temp <= 30) || (temp >= 15 && temp < 18),\n\n        high_humidity: hum > 70,\n        low_humidity: hum < 30,\n        warn_humidity: (hum >= 65 && hum <= 70) || (hum >= 30 && hum < 35)\n    };\n\n    let alertMsgs = [];\n\n    if (alerts.high_temp) alertMsgs.push(`High temperature: ${temp.toFixed(1)}°C`);\n    else if (alerts.low_temp) alertMsgs.push(`Low temperature: ${temp.toFixed(1)}°C`);\n    else if (alerts.warn_temp) alertMsgs.push(`Temperature approaching limit: ${temp.toFixed(1)}°C`);\n\n    if (alerts.high_humidity) alertMsgs.push(`High humidity: ${hum.toFixed(1)}%`);\n    else if (alerts.low_humidity) alertMsgs.push(`Low humidity: ${hum.toFixed(1)}%`);\n    else if (alerts.warn_humidity) alertMsgs.push(`Humidity approaching limit: ${hum.toFixed(1)}%`);\n\n    msg.payload = {\n        tray_id: \"Tray 1\",\n        temperature: temp,\n        humidity: hum,\n        timestamp,\n        alerts,\n        status: alertMsgs.length > 0 ? alertMsgs.join(', ') : \"OK\"\n    };\n\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 560,
        "wires": [
            [
                "8ac94cf4a37e9ec2",
                "3f9fa2784beb0bdc"
            ]
        ]
    },
    {
        "id": "8ac94cf4a37e9ec2",
        "type": "http request",
        "z": "b8774ea65c27b37b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://buffet-monitor-default-rtdb.europe-west1.firebasedatabase.app/environment/logs.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 560,
        "wires": [
            [
                "839ca369e72b23bf"
            ]
        ]
    },
    {
        "id": "839ca369e72b23bf",
        "type": "debug",
        "z": "b8774ea65c27b37b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 540,
        "wires": []
    },
    {
        "id": "945a4090a2ae24a1",
        "type": "websocket out",
        "z": "b8774ea65c27b37b",
        "name": "",
        "server": "314bd60dd938e9ec",
        "client": "",
        "x": 1340,
        "y": 680,
        "wires": []
    },
    {
        "id": "3f9fa2784beb0bdc",
        "type": "function",
        "z": "b8774ea65c27b37b",
        "name": "Format Env Payload",
        "func": "const temp = msg.payload.temperature;\nconst hum = msg.payload.humidity;\nconst alerts = msg.payload.alerts || {};\n\nlet alertMsgs = [];\nif (alerts.high_temp) alertMsgs.push(`High temperature: ${temp}°C`);\nif (alerts.low_temp) alertMsgs.push(`Low temperature: ${temp}°C`);\nif (alerts.high_humidity) alertMsgs.push(`High humidity: ${hum}%`);\nif (alerts.low_humidity) alertMsgs.push(`Low humidity: ${hum}%`);\n\nmsg.payload = {\n    temperature: temp,\n    humidity: hum,\n    alerts,\n    status: alertMsgs.length > 0 ? alertMsgs.join(', ') : \"OK\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "945a4090a2ae24a1"
            ]
        ]
    }
]